.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.js
tsconfig.json
.git/**
.DS_Store
node_modules/.cache/**
*.map
*.ts
!out/**
!out/src/**
vscode-test/**
.nyc_output/**
coverage/**
test/**
**/*.test.js
**/*.test.ts
**/*.spec.js
**/*.spec.ts